.footer {
  background: #2a254b;
  padding-top: 58px;
  padding-bottom: 22px;

  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .footer__info {
    display: flex;
    gap: 150px;
  }
  .footer__menu {
    display: flex;
    gap: 109px;
    cursor: pointer;
  }
  .footer__menu1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
  }
  .footer__item {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }
  .footer__items {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    cursor: pointer;
  }
  .footer__input--wrap {
    display: flex;
    justify-content: center;
  }
  .footer__hr {
    background: #4e4d93;
    height: 1px;
    margin-top: 48px;
    margin-bottom: 24px;
  }
  .footer__bottom--wrap {
    display: flex;
    justify-content: space-between;
  }
  .footer__bootom__icons--text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  .footer__icons {
    margin-top: 22px;
    display: flex;
    gap: 24px;
   
  }
  .footer__bootom__icons__wraper--icon {
    font-size: 24px;
  }
  .footer__bottom--title {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
  .footer__itema {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
  }
  .footer__icon--title {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .coshial{
    display: flex;
    gap: 65px;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .footer__info {
      gap: 100px;
    }
    .footer__menu {
      gap: 59px;
  }
}
}
@media screen and (max-width: 1024px) {
  .footer {
    .footer__info {
      gap: 70px;
    }
    .footer__menu {
      gap: 49px;
    }
  }
}
@media screen and (max-width: 870px) {
  .footer {
    .footer__wrap {
      flex-direction: column;
      gap: 40px;
    }
    .footer__info {
      gap: 150px;
    }
    .footer__menu {
      gap: 100px;
    }
  }
}
@media screen and (max-width: 770px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;

    .footer__info {
      gap: 98px;
      flex-direction: row-reverse;
    }
    .footer__menu {
      gap: 96px;
    }
    
    .footer__hr {
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .footer__bootom__icons__wraper--icon,#menu1 {
      display: none;
    }
    .footer__bootom__icons--text {
      margin: auto;
    }
    .footer__icons{
      flex-wrap: wrap;
      width: 120px;
    }
    .footer__icon--title{
     padding: 17px 0;
    }
    .coshial{
      gap: 29px;
    }
  }
}
@media screen and (max-width: 450px) {
  .footer {
    .footer__bottom--wrap {
      display: flex;
      justify-content: center;
    }
  }
}

