.free {
  display: flex;
  background:  #2a254b;
  height: 41px;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
}
.free__title {
  color:  #FFF;
font-size: 14px;
font-weight: 400;
margin-left: 8px;
}
.free__icon {
  text-align: end;
  margin-left: 20%;
}
.imgfree {
    // width: 80vw;
text-align: end;
}
@media screen and (max-width: 768px) {
.free__icon{
    margin: 0; 
    margin-left: 20%;                               

.free{
    justify-content: space-between;
}
}
}