.hero {
  display: flex;
  background: #f9f9f9;
  // margin: 0 auto;
  // margin-top: 29px;
  // justify-content: center;
  //  justify-content: space-between;
  flex-wrap: wrap;
  cursor: crosshair;

  &__box {
    display: flex;
    margin: 51px 0 51px 1%;
    padding: 40px 0 0 40px;
    flex-direction: column;
    align-items: flex-start;
    background: #f9f9f9;
    cursor: alias;
  }
  &__title {
    color: #2a254b;
    font-size: 36px;
    font-weight: 400;
    cursor: context-menu;
  }
  &__price {
    margin-top: 13px;
    color: #12131a;
    font-size: 24px;
    font-weight: 400;
  }
  &__textt {
    margin-top: 54px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
  }
  &__text {
    width: 470px;
    margin-top: 16px;
    color: #505977;
    font-size: 16px;
    font-weight: 400;
    cursor: copy;
  }
  &__ul {
    margin-top: 20px;
    margin-left: 15px;
  }
  &__infot {
    margin-top: 50px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
  }
  &__info {
    margin-top: 28px;
    color: #2a254b;
    font-size: 14px;
    font-weight: 400;
    gap: 57px;
    display: flex;
    line-height: 24px;
    justify-content: space-between;
  }
  &__btn {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    // gap: 10px;
    background: #2a254b;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    border: none;
    cursor: pointer;
  }
  &__btnw {
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background: #fff;
  }
  &__buttons {
    display: flex;
    gap: 16px;
  }
  &__b {
    background: #fff;
    margin-top: 12px;
    padding: 13px;
    border: none;

    cursor: pointer;
  }
  &__input {
    padding: 11px 0;
    border: none;
    color: #2a254b;
    // background:  #F9F9F9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__d {
    display: none;
    
  }
  &__bottom {
    margin-top: 40px;
  }
  &__input--title {
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
  }
  //dissabled hero

  &__info--d {
    display: flex;
    justify-content: space-between;
  }
  &__box--d {
    display: flex;
    padding-top: 68px;
    flex-direction: column;
    gap: 32px;
    background: #F9F9F9;
    cursor: alias;
  }
  &__title--d {
    width: 341px;
    color: #2a254b;
    font-size: 24px;
    font-weight: 400;
    cursor: context-menu;
  }
  &__text--d {
    width: 341px;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    cursor: copy;
  }
  &__btn--d {
    display: flex;
    color: #fff;
    width: 100%;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #2a254b;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    cursor: pointer;
  }

  &__countert {
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
  }
  &__counter--d {
    display: flex;
    width: 342px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 33px;
    background: #fff;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
  }
  &__btnw--d {
    color: #2A254B;
font-size: 16px;
font-weight: 400;
line-height: 150%; 
display: flex;
width: 342px;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border: none;
background: #FFF;
  }
  .img2 {
    background-size: cover;
    margin-top: 32px;
    cursor: crosshair;
  }
  &__l {
    margin-top: 12px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 1390px) {
  .hero {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  //MD

  .hero__d {
    display: flex;
    background: #F9F9F9;
    flex-direction: column;
  }
  .hero__title--d {
    font-style: 14px;
  }
  .hero {
    display: none;
  }
}
