.input {
  display: flex;
  margin: 0 auto;
  margin-top: 82px;
  flex-wrap: wrap;
  gap: 75px;
  cursor: crosshair;

  &__wrap {
    // width: 300px;
    padding-top: 68px;
    padding-bottom: 54px;
    background: #fff;
  }
  &__title {
    color: #2a254b;
    text-align: center;
    font-size: 36px;
    font-weight: 400;
    line-height: 140%;
    cursor: context-menu;
  }
  &__text {
    width: 470px;
    color: #2a254b;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 0 auto;
    cursor: move;
  }
  &__int {
    margin-top: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: alias;
  }
  &__input {
    padding: 17px 205px 17px 32px;
    background: #f9f9f9;
    color: #2a254b;
    font-size: 16px;
    font-weight: 400;
    height: 56px;
    border: none;
    cursor: text;
  }
  &__btn {
    padding: 16px 32px;
    background: #2a254b;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    height: 56px;
    border: none;
    cursor: pointer;
  }
  &__img {
    background-image: url("../../imgs/Imageinput.png");
    height: 521px;
    max-width: 720px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__img2 {
    display: none;
  }
}
@media screen and (max-width: 1316px) {
.input{
 justify-content: center;
}
}

@media screen and (max-width: 756px) {
  .input {
    margin-top: 38px;
    padding-top: 48px;
    padding-bottom: 36px;
    background-color: #fff;

    &__wrap {
      padding: 0;
      margin: 0 auto;
      margin-top: 36px;
    }
    &__title {
      // text-align: start;
      margin: 0 auto;
      font-size: 20px;
    }
    &__text {
      // text-align: start;
      margin: 0 auto;
      width: 329px;
      // justify-content: start;
      font-size: 13px;
    }
    &__int {
      text-align: start;
      margin-top: 64px;
    }
    &__input {
      font-size: 10px;
      padding: 17px 75px 17px 32px;
      align-items: center;
      width: calc(224+118) px;
    }
    &__btn {
      font-size: 10px;
      padding: 16px 40px;
    }

    
  }
}
@media screen and (max-width: 720px) {
.input{
  &__img{
   display: none; 
  }
  &__img2{
  display: flex;
  }
}
}
@media screen and (max-width: 568px) {
  //SM
  .input {
    margin: 0;
    gap: 0;
    &__title {
      text-align: start;
      // margin: 0 auto;
      font-size: 20px;
    }
    &__text {
      text-align: start;
      margin: 0;
      width: 329px;
      justify-content: start;
      font-size: 13px;
    }
    &__input {
      flex: 1 0 0;
    }
  }
}
