.service {
  &__title {
    margin-top: 80px;
    color: #2a254b;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%; /* 33.6px */
    text-align: center;
    cursor: context-menu;
  }
  &__wrap {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    // gap: 20px;
    justify-content: space-between;
  }
  &__box {
    display: flex;
    width: 305px;
    padding: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #f9f9f9;
    // margin: 0 auto;
  }
  &__icon{
    cursor: progress;
  }
  &__text {
    width: 209px;
    color: #2a254b;
    font-family: Clash Display;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%; /* 28px */
    cursor: help;
  }
  &__info {
    width: 195px;
    color: #2a254b;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */
    align-self: stretch;
    cursor: grab;
  }
}
@media screen and (max-width: 1400px) {
  //XXL
  .service__box {
    margin-top: 26px;
  }
}
@media screen and (max-width: 768px) {
  //MD
  .service__box {
    width: 332px;
  }
}
@media screen and (max-width: 576px) {
  //SM
  .service {
    &__title {
      font-size: 20px;
      width: 254px;
      text-align: start;
    }
    &__info {
      width: 264px;
    }
  }
}
